.toDoItem {
  color: rgba(44, 62, 80, 1);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  opacity: 0;
  animation: build 550ms ease-in-out forwards;
  @keyframes build {
    0% {
      transform: rotateY(90deg);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 2%;
    button,
    a {
      all: unset;
      flex-basis: 100%;
      margin-bottom: 2%;
      font-size: 1.6rem;
      padding: 0.4em;
      text-align: center;
      border-radius: 5px;
      display: block;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    button:first-child {
      background-color: rgba(46, 204, 113, 1);
      color: white;
    }
    a {
      background-color: silver;
      color: white;
    }
  }
}
