.page {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  height: 100vh;
}

.header {
  background-color: #2ecc71;
  padding: 1rem;
  color: #fff;
  header {
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    ul {
      display: flex;
      align-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      flex-flow: row wrap;
      li {
        margin: 0 1rem;
        flex-basis: 100%;
        text-align: center;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      li:first-child {
        font-size: 2.4rem;
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #ecf0f1;
  text-align: center;
  font-size: 1.2rem;
}
